a {
  text-decoration: none;
  color: var(--color-type);
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  background-color: var(--white);
  height: 60px;
  width: 100%;
  font-size: var(--font-size-header);
}

.menu a {
  text-decoration: none;
  color: var(--color-type);
  font-weight: 500;
}

.menu a:hover {
  color: var(--color-primary);
}

.menu a:not(:first-child) {
  margin-left: 30px;
}

.menu a.active {
  color: var(--color-primary);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  font-size: var(--font-size-logo);
  cursor: pointer;
  margin: 2.5rem;
}

.logo svg {
  width: 24px;
  margin-right: 12px;
}

.user-settings {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 2.5rem;
}

.user-profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
