section {
  min-height: 100vh;
  background-color: var(--color-bg);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -36.6666666667px;
  margin-left: -36.6666666667px;
  width: 73.3333333333px;
}

.loader:after {
  content: "";
  position: absolute;
  left: 26.6666666667px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: var(--color-loader-transp);
  box-shadow: -26.6666666667px 0 0 0 var(--color-loader-white),
    26.6666666667px 0 0 0 var(--color-loader-white);
  animation: alter 1s ease-in-out infinite;
}

@keyframes alter {
  0%,
  100% {
    background-color: var(--color-loader-transp);
    box-shadow: -26.6666666667px 0 0 0 var(--color-loader-white),
      26.6666666667px 0 0 0 var(--color-loader-white);
  }
  50% {
    background-color: var(--color-loader-white);
    box-shadow: 0 0 0 0 var(--color-loader-transp),
      0 0 0 0 var(--color-loader-transp);
  }
}
