.list-cards {
  margin: 2.5rem 2.5rem 1rem 2.5rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  .list-cards {
    display: block;
  }
}

@media (max-width: 1024px) {
  .list-cards {
    grid-template-columns: 1fr 1fr;
  }
}
