.list-cards {
  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}

@media (max-width: 500px) {
  .list-cards {
    display: block;
  }
}

@media (min-width: 501px) and (max-width: 950px) {
  .list-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 951px) and (max-width: 1200px) {
  .list-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 2500px) {
  .list-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
