.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-general);
  margin: 10px auto;
  cursor: pointer;
  background: var(--white);
  padding: 1em 2.5em 1em 2.5em;
  margin: 2rem 2.5rem 1rem 2.5rem;
}

.search-bar {
  display: block;
  width: 100%;
}

.fa-search {
  position: absolute;
  top: 118px;
  cursor: default;
}
