<h1>Edit Hackathon</h1>
<form (ngSubmit)="edit(hackathon)" #addHackathonForm="ngForm">
  <fieldset>
    <input
      [(ngModel)]="hackathon.name"
      #name="ngModel"
      type="text"
      placeholder="Title"
      id="name"
      name="name"
      required
      minlength="3"
    />
    <div [hidden]="name.valid || name.pristine">
      Name is required and must be at least 3 caracters
    </div>
    <input
      [(ngModel)]="hackathon.description"
      #description="ngModel"
      type="text"
      placeholder="Description"
      id="description"
      name="description"
      required
      minlength="3"
      maxlength="300"
    />
    <div [hidden]="description.valid || description.pristine">
      Description is required and must be at most 300 caracters
    </div>
    <input
      [(ngModel)]="hackathon.price"
      type="number"
      placeholder="Price"
      id="price"
      name="price"
    />
    <input
      [(ngModel)]="hackathon.location"
      #location="ngModel"
      type="text"
      placeholder="Location or Online"
      id="location"
      name="location"
      required
      minlength="2"
    />
    <div [hidden]="location.valid || location.pristine">
      Location is required and must be a place or remote/online
    </div>
    <input
      [(ngModel)]="hackathon.date"
      #date="ngModel"
      type="date"
      placeholder="Date"
      id="date"
      name="date"
      required
    />
    <div [hidden]="date.valid || date.pristine">
      Date is required
    </div>
    <input
      [(ngModel)]="hackathon.url"
      type="text"
      placeholder="URL"
      id="url"
      name="url"
    />
    <button type="submit" [disabled]="!addHackathonForm.form.valid">
      Edit Hackathon
    </button>
    <button (click)="cancel()">Cancel</button>
  </fieldset>
</form>

