<form #hackathonForm="ngForm">
  <fieldset>
    <input
      [(ngModel)]="hackathon.name"
      #name="ngModel"
      type="text"
      placeholder="Title"
      id="name"
      name="name"
      required
      minlength="3"
    />
    <div class="alert" [hidden]="name.valid || name.pristine">
      Name is required and must be at least 3 caracters
    </div>
    <input
      [(ngModel)]="hackathon.description"
      #description="ngModel"
      type="text"
      placeholder="Description"
      id="description"
      name="description"
      required
      min
      length="3"
      maxlength="300"
    />
    <div class="alert" [hidden]="description.valid || description.pristine">
      Description is required and must be at most 300 caracters
    </div>
    <div class="field-group">
      <div class="field-price">
        <span><i class="fas fa-dollar-sign fa-lg"></i></span>
        <input
        [(ngModel)]="hackathon.price"
        type="number"
        placeholder="Price"
        id="price"
        name="price"
      />
      </div>
      <input
        [(ngModel)]="hackathon.date"
        #date="ngModel"
        type="date"
        placeholder="Date"
        id="date"
        name="date"
        required
      />
      <div class="alert" [hidden]="date.valid || date.pristine">
        Date is required
      </div>
    </div>
    <input
      [(ngModel)]="hackathon.location"
      #location="ngModel"
      type="text"
      placeholder="City, State, Country or Online"
      id="location"
      name="location"
      required
      minlength="2"
    />
    <div class="alert" [hidden]="location.valid || location.pristine">
      Location is required and must be a valid city or remote/online
    </div>
    <input
      [(ngModel)]="hackathon.url"
      type="text"
      placeholder="URL"
      id="url"
      name="url"
    />
    <button type="submit" [disabled]="!hackathonForm.form.valid">
      {{ btnName }}
    </button>
    <button (click)="cancel()">Cancel</button>
  </fieldset>
</form>
