<div class="container">
  <h1>
    Hackathons <span class="qtd">({{ hackathons.length }})</span>
  </h1>
  <form>
    <input placeholder="Search for hackathons..." [formControl]="searchInput" />
  </form>
  <app-map></app-map>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
        <th>Date</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody *ngIf="hackathons$ | async as hackathons; else empty">
      <tr *ngFor="let hackathon of hackathons">
        <td>{{ hackathon.name }}</td>
        <td>{{ hackathon.description }}</td>
        <td>{{ hackathon.price | currency }}</td>
        <td>{{ hackathon.location }}</td>
        <td>{{ hackathon.date | date: "MM/dd/yyyy" }}</td>
        <td>{{ hackathon.url }}</td>
        <td>
          <a [routerLink]="['/edit/' + hackathon._id]"> Edit </a>
          <button (click)="remove(hackathon._id)">Remove</button>
        </td>
      </tr>
    </tbody>
    <ng-template #empty>
      <tbody>
        No events...
      </tbody>
    </ng-template>
  </table>
</div>
