<section>
  <form class="hackathon-form">
    <div class="hackathon-search">
      <div class="search-bar">
        <input
          class="search-input"
          placeholder="Search for hackathons..."
          [formControl]="searchInput"
        />
      </div>
    </div>
    <div class="hackathon-filter">
      <h3>Filter By:</h3>
      <div class="filter-location">
        <div class="search-location">
          <app-location-input #location></app-location-input>
        </div>
        <button
          class="search-button"
          (click)="filterLocation(location.userAddress)"
        >
          Around Here
        </button>
      </div>
      <div class="filter-btns">
        <button (click)="filterFree()">All Free</button>
        <button (click)="filterRemote()">All Remote</button>
      </div>
      <div class="clear-btn">
        <button (click)="clear()">Clear Results</button>
      </div>
    </div>
  </form>

  <table>
    <tbody *ngIf="hackathons$ | async as hackathons; else empty">
      <h2>Showing {{ hackathons.length }} Hackathons</h2>
      <tr *ngFor="let hackathon of hackathons">
        <td>{{ hackathon.name }}</td>
        <td>{{ hackathon.description }}</td>
        <td>{{ hackathon.price | currency }}</td>
        <td>{{ hackathon.location }}</td>
        <td>{{ hackathon.date | date: "MM/dd/yyyy" }}</td>
        <td>{{ hackathon.url }}</td>
        <td>
          <a [routerLink]="['/edit/' + hackathon._id]"> Edit </a>
          <button (click)="remove(hackathon._id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <app-loader></app-loader>
  </ng-template>
</section>
