/* search area */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border-radius-general);
  margin: 10px auto;
  cursor: pointer;
  background: var(--white);
  padding: 1em 2.5em 1em 2.5em;
  margin: 2rem 2.5rem 1rem 2.5rem;
}

.search-bar {
  display: block;
  width: 100%;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2rem;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px var(--color-primary);
}

/* filter area */

.filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter-location,
.filter-btns {
  display: flex;
  align-items: center;
}

.filter-location-input {
  background: var(--white);
  flex-grow: 2;
  line-height: 3rem;
  padding: 0 2rem 0 2rem;
  border-top-left-radius: var(--border-radius-general);
  border-bottom-left-radius: var(--border-radius-general);
  font-size: 0.75rem;
}

.filter-location-btn {
  display: inline-block;
  flex-grow: 1;
  line-height: 3rem;
  padding: 0 2em;
  text-align: center;
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: var(--border-radius-general);
  border-bottom-right-radius: var(--border-radius-general);
  color: var(--white);
  background-color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--font-primary);
}

.filter-location-btn:hover,
.filter-btns button:hover {
  background-color: var(--color-seconday);
}

.filter-btns button {
  font-family: var(--font-primary);
  display: inline-block;
  flex-grow: 1;
  line-height: 3rem;
  padding: 0 2em;
  text-align: center;
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-radius: var(--border-radius-general);
  color: var(--white);
  background-color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
  margin: 0.5rem;
}

.clear-btn button {
  display: inline-block;
  flex-grow: 1;
  line-height: 3rem;
  padding: 0 2em;
  text-align: center;
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-radius: var(--border-radius-general);
  color: var(--white);
  background-color: var(--medium-grey);
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--font-primary);
}

.clear-btn button:hover {
  background-color: var(--dark-grey);
}

/* cards list area */

.list-area {
  margin: 2.5rem 2.5rem 1rem 2.5rem;
}

.list-area-title {
  text-align: center;
  margin: 2.5rem 0 2rem 0;
}

.list-cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card-item {
  border-radius: var(--border-radius-general);
  background-color: var(--white);
  width: 100%;
  height: auto;
}

.card-header {
  border-top-right-radius: var(--border-radius-general);
  border-top-left-radius: var(--border-radius-general);
  width: 100%;
  height: 250px;
  position: relative;
  background-color: var(--color-primary);
  color: var(--white);
  text-align: center;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: var(--transition);
  cursor: pointer;
}

.card-header:hover {
  background-color: var(--color-seconday);
}

.card-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.card-subtitle {
  font-size: var(--font-size-header);
  line-height: 1rem;
  font-weight: 100;
}

.card-details {
  width: 100%;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

.card-details p {
  margin-top: 0.5rem;
}

.card-btns {
  margin: 0;
  padding-bottom: 1.5rem;
  padding-right: 0.25rem;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: var(--border-radius-general);
  border-bottom-left-radius: var(--border-radius-general);
}

.card-btns button,
.card-btns a {
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-radius: var(--border-radius-general);
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  display: inline-block;
}

/* general */

a {
  text-decoration: none;
}

i {
  color: var(--color-primary);
  margin-right: 0.75rem;
}

i:hover {
  color: var(--color-seconday);
}

.fa-link {
  margin-top: 1rem;
  color: var(--color-seconday);
}

.emphasis {
  color: #0162ff;
}

.fa-pencil-alt,
.fa-trash {
  color: var(--medium-grey);
}

.fa-pencil-alt:hover,
.fa-trash:hover {
  color: var(--dark-grey);
}

.fa-search {
  position: absolute;
  top: 118px;
  cursor: default;
}
