/* search area */

.search-input {
  border: none;
  appearance: none;
  outline: none;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 2rem;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px var(--color-primary);
}

/* filter area */

.filter-location-btn {
  display: inline-block;
  flex-grow: 1;
  line-height: 3rem;
  padding: 0 2em;
  text-align: center;
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: var(--border-radius-general);
  border-bottom-right-radius: var(--border-radius-general);
  color: var(--white);
  background-color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--font-primary);
}

.filter-location-btn:hover,
.btn-free:hover, .btn-remote:hover  {
  background-color: var(--color-seconday);
}

.btn-free, .btn-remote {
  font-family: var(--font-primary);
  display: inline-block;
  flex-grow: 1;
  line-height: 3rem;
  padding: 0 2em;
  text-align: center;
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-radius: var(--border-radius-general);
  color: var(--white);
  background-color: var(--color-primary);
  transition: var(--transition);
  cursor: pointer;
  margin: 0.5rem;
}

.btn-clear {
  display: inline-block;
  flex-grow: 1;
  line-height: 3rem;
  padding: 0 2em;
  text-align: center;
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-radius: var(--border-radius-general);
  color: var(--white);
  background-color: var(--medium-grey);
  transition: var(--transition);
  cursor: pointer;
  font-family: var(--font-primary);
}

.btn-clear:hover {
  background-color: var(--dark-grey);
}

/* cards list area */

.card-item {
  border-radius: var(--border-radius-general);
  background-color: var(--white);
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.172549) 0 6px 12px 0;
}

.card-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-decoration: none;
}

.card-subtitle {
  font-size: var(--font-size-header);
  line-height: 1rem;
  font-weight: 100;
}

.btn-edit,
.btn-remove {
  font-size: var(--font-size-btns);
  font-weight: 200;
  border: 0;
  border-radius: var(--border-radius-general);
  cursor: pointer;
  background-color: transparent;
  margin: 0;
  display: inline-block;
}

/* general */

i {
  color: var(--color-primary);
  margin-right: 0.75rem;
}

i:hover {
  color: var(--color-seconday);
}

.fa-link {
  margin-top: 1rem;
  color: var(--color-seconday);
}

.fa-pencil-alt,
.fa-trash {
  color: var(--medium-grey);
}

.fa-pencil-alt:hover,
.fa-trash:hover {
  color: var(--dark-grey);
}

/* mobile */

@media (max-width: 768px) {
  .filter-location-btn {
    line-height: 1.5rem;
  }
}
